h1 {
  text-align: center;
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 2.75em;
  margin: 15px 0;
  font-weight: normal;
  color: #cccccc;
  text-decoration: underline;
}


body {
  font-family: 'Gurajada', sans-serif;
  font-size: 1.50em;
  background-color: #088da5;
}

.tasks {
  padding: 10px 20px;
  list-style: none;
}

.tasks li a {
  color: #cccccc;
}

.tasks li a:hover {
  color: #daa520;
}

#task_index {
  float: left;
  margin-left: 400px;
  font-size: 1.75em;
  border: 3px solid #000;
  padding: 8px;
}

#task_1 {
  float: right;
  margin-right: 400px;
  font-size: 1.75em;
  border: 3px solid #000;
  padding: 8px;
}

body {
  background-image: url(https://knsangra.files.wordpress.com/2008/08/octopus.jpg);
  background-repeat: no-repeat;
  /*background-position: 90% -75%;*/
  background-position: 50% 500%;
}

.new_task {
  text-align: center;
}

.new_task p {
  color: #cccccc;
  font-size: 1.25em;
  margin: -5px 1px -5px 1px;
}

#enter {
  text-decoration: underline;
}

#title {
  margin: -20px 1px -20px 1px;
  font-size: 1em;
}

#description {
  font-size: 1em;
}

h3 {
  color: #cccccc;
  font-size: 1.5em;
  display: inline-block;
  padding: 50px 10px;
  margin: 20px;
  border: 3px solid #000;
}

h3 a {
  color: #cccccc;
}

#task2 {
  color: #cccccc;
  padding: 40px;
  font-size: 1.75em;
}

#task2:hover {
  color: #daa520;
}

#descript {
  color: #cccccc;
  text-align: center;
  font-size: 1.5em;
}

#two {
  color: #000;
}












