<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Gurajada' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/application.css">
  <title>My Sinatra Application</title>
</head>
<body>
  <h1>Welcome to the Task Manager</h1>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>